{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    {% block css %}

    {% endblock %}

    <!-- JS -->
    {% block js %}

    {% endblock %}

    <!-- Title -->
    <title>
      {% block title %}

      {% endblock %}| Ucase
    </title>
  </head>
  <body>
    <!-- Navbar -->
    {% if request.user.username %}
      <nav class="navbar" id="navbar">
        <a href="{% url 'home' %}"><img src="{% static 'concept1/Images/logo.png' %}" alt="Logo Ugene" /></a>
        <div class="menu">
          <div class="navbar__item">
            <p>{{ request.user.username }}</p>
            <span class="material-icons md-36">account_circle</span>
          </div>
          <a href="{% url 'logout' %}" class="logout">Logout</a>
        </div>
      </nav>
    {% elif not request.path == '/register/' and not request.path == '/login/' %}
      <nav class="navbar" id="nav">
        <a href=""><img src="{% static 'concept1/Images/logo.png' %}" alt="Logo Ucase" /></a>
        <ul>
          <li>About</li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'register' %}">Sign Up</a>
          </li>
        </ul>
      </nav>
    {% endif %}

    <!-- Main Content -->
    <div class="root">
      {% block content %}

      {% endblock %}
    </div>
    <script>
      const navitem = document.querySelector('.navbar__item')
      const menu = document.querySelector('.menu')
      const logout = document.querySelector('.logout')
      
      menu.addEventListener('mouseenter', () => {
        navitem.style.display = 'none'
        logout.style.display = 'inline'
      })
      
      menu.addEventListener('mouseleave', () => {
        navitem.style.display = 'flex'
        logout.style.display = 'none'
      })
    </script>
  </body>
</html>
