@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap");

html {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Poppins";
  scroll-behavior: smooth;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: linear-gradient(to right top, #27374d, 10%, #27374d);
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0.2rem;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to right top, #27374d, 6%, #27374d);
}

body {
  min-height: 100%;
  background: linear-gradient(to right top, #27374d, 10%, #27374d);
  background-attachment: fixed;
}

.root {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  padding: 2rem 5.5rem 5rem;
}

h1 {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

h2 {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

h3 {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}

h4 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}

h5 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}

p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}

a {
  text-decoration: none;
  font-style: normal;
  color: #ffffff;
}

/* Button */
button,
.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: fit-content;
  height: fit-content;
  padding: 1rem 2rem;
  font-weight: lighter;
  border: 2px solid #fff;
  border-radius: 50rem;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

button:hover,
.primary-btn:hover {
  box-shadow: 0px 21px 53px rgba(46, 46, 46, 0.66);
  background-color: #ffffff;
  color: black;
}

button:hover > *,
.primary-btn:hover > * {
  color: black;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

label {
  font-size: 18px;
}

input {
  padding: 0.8rem 1rem;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 0.6rem;
}

input:focus {
  background-color: #000025;
}

textarea {
  padding: 0.8rem 1rem;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 0.6rem;
}

textarea:focus {
  background-color: #000025;
}

/* Material Icon */
.material-icons.md-36 {
  font-size: 36px;
}
