.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a2647;
  padding: 1.4rem 5.5rem;
  color: #fff;
}

.title-bar {
  font-size: 1.5rem !important;
}

.navbar img {
  width: 140px;
}

.navbar__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 16%;
}

.navbar__item p {
  font-size: 20px;
}

.logout {
  border: 1px solid #fff;
  background-color: #07143f;
  border-radius: 5rem;
  padding: 0.3rem 1.2rem;
  text-align: center;
  display: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

li {
  cursor: pointer;
}

li:hover a {
  color: #898888;
}
