.User {
  display: flex;
  flex-direction: column;
}

.User--head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.User--action--menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.User--action--menu a {
  color: #4c4c4c;
  text-decoration: none;
}

.User--head h5 {
  color: #b3b3b3;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  /* 133.333% */
}

.User--search .search-container {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0px 0px 0px 0px;
  font-size: 0.5rem;
  border: none;
  outline: none;
}

.User--search input::placeholder {
  font-size: 0.85rem;
}

.User--table {
  width: 100%;
}

.User--table table thead tr th {
  padding: 1rem;
}

.User--table table tbody tr td {
  padding: 1em 1em 1em 1em;
}

.User--table table tbody tr td:first-child {
  padding: 1em 1em 1em 0.5em;
}

tr td a {
  color: #808080;
  text-decoration: none;
}

.User--table thead {
  padding: 0.5rem;
  /* border: 1px solid black; */
  background: #17193D;
  border-radius: 50%;
  color: #fff;
}

.User--table span:last-child {
  margin-left: 10px;
}

table thead tr th:first-child {
  border-radius: 4px 0 0 4px;
}

table thead tr th:last-child {
  border-radius: 0 4px 4px 0;
}

.divider {
  width: 65%;
  height: 1px;
  background-color: #796868;
}