{% extends 'base.html' %}
{% load static %}

<!-- CSS -->
{% block css %}
  <link rel="stylesheet" href="{% static 'concept1/css/register.css' %}" />
{% endblock %}

<!-- JS -->
{% block js %}
  <script src="" defer></script>
{% endblock %}

<!-- Title -->
{% block title %}
  Register
{% endblock %}

<!-- Main Content -->
{% block content %}
  <!-- Content -->

  <h1 id="register-text">Register</h1>
  <div class="">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  </div>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.username.id_for_label }}">Username</label>
      {{ form.username }}
      {% if form.username.errors %}
        <div class="alert alert-danger">{{ form.username.errors }}</div>
      {% endif %}
    </div>
    <!-- Repeat the same structure for other fields -->
    <div class="form-group">
      <label for="{{ form.email.id_for_label }}">Email</label>
      {{ form.email }}
      {% if form.email.errors %}
        <div class="alert alert-danger">{{ form.email.errors }}</div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{ form.password1.id_for_label }}">Password</label>
      {{ form.password1 }}
      {% if form.password1.errors %}
        <div class="alert alert-danger">{{ form.password1.errors }}</div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
      {{ form.password2 }}
      {% if form.password2.errors %}
        <div class="alert alert-danger">{{ form.password2.errors }}</div>
      {% endif %}
    </div>
    <button type="submit"><p>Register</p></button>
    <p>
      Already have an account? <a href="{% url 'login' %}">Login</a>
    </p>
  </form>
{% endblock %}
